<div class="main">
  <div class="sub-div">
    <mat-card>
      <mat-card-title>Reset Password</mat-card-title>
      <img mat-card-image />
      <mat-card-content>
        <form [formGroup]="formReset" action="#" class="example-form">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your password"
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <span
              class="bnone"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </span>
            <mat-error
              *ngIf="
                formReset.controls['password'].invalid &&
                (formReset.controls['password'].dirty ||
                  formReset.controls['password'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formReset.controls['password'].errors.required"
                class="text-danger"
              >
                Password is required.
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              formControlName="conPassword"
              matInput
              placeholder="Confirm password"
              type="password"
              [errorStateMatcher]="matcher"
            />
            <span class="bnone" mat-icon-button matSuffix>
              <mat-icon>lock_outline</mat-icon>
            </span>
            <mat-error
              *ngIf="
                formReset.controls['conPassword'].invalid &&
                (formReset.controls['conPassword'].dirty ||
                  formReset.controls['conPassword'].touched)
              "
              class="text-danger"
            >
            </mat-error>
            <mat-error *ngIf="formReset.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            (click)="Reset('Success')"
            class="signin"
            [disabled]="!formReset.valid"
            color="primary"
          >
            Sign Up
          </button>
          <div class="footer">
            <a
              href=""
              [routerLink]="['/signin']"
              routerLinkActive="router-link-active"
            >
              Go back
            </a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
