.main {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  widows: 100%;
  background: linear-gradient(160deg, #257ef3 50%, #e0e0e0 50%);
}
.sub-div {
  width: 30%;
}
.example-form {
  width: 100%;
}
.example-full-width {
  width: 100%;
}
mat-card-title {
  text-align: center;
  padding-top: 10px;
}
mat-card-content {
  padding: 20px;
}
button {
  width: 100%;
  margin-top: 10px;
}
span {
  font-size: 10px;
  color: rgb(190, 189, 189);
  cursor: pointer;
}
.footer {
  text-align: center;
  margin-top: 20px;
}
.footer a {
  text-decoration: none;
  padding-top: 10px;
}
.footer a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 500px) {
  .sub-div {
    width: 90%;
  }
  .example-form {
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
}
