<div class="main">
  <div class="sub-div">
    <mat-card>
      <mat-card-title>Forgot Password</mat-card-title>
      <img mat-card-image />
      <mat-card-content>
        <form [formGroup]="forgotForm" action="#" class="example-form">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                forgotForm.controls['email'].invalid &&
                (forgotForm.controls['email'].dirty ||
                  forgotForm.controls['email'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="forgotForm.controls['email'].errors.required"
                class="text-danger"
              >
                Email is required.
              </mat-error>
              <mat-error *ngIf="forgotForm.controls['email'].errors.pattern">
                Please enter a valid email
              </mat-error>
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            (click)="Submit('Success')"
            [disabled]="!forgotForm.valid"
            color="primary"
          >
            Submit
          </button>
          <div class="footer">
            <a
              href=""
              [routerLink]="['/signin']"
              routerLinkActive="router-link-active"
            >
              Go back
            </a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
