.main-row {
  display: flex;
  width: 100%;
  margin: 2%;
}
.left-side {
  width: 300px;
}
.right-side {
  width: 500px;
  padding-left: 100px;
}
/* Now update */
.top {
  margin: 30px;
  display: flex;
}
.one {
  width: 40%;
}
.two {
  width: 50%;
  padding-left: 30px;
}

/* Structure */
.example-card {
  width: 100%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.dd {
  margin: 5px;
}
