<div class="top">
  <div class="one">
    <mat-card *ngIf="show">
      <mat-card-title>New Create User</mat-card-title>
      <img mat-card-image />
      <mat-card-content>
        <form [formGroup]="formAddUser" action="#" class="example-form">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your name"
              formControlName="name"
            />
            <mat-error
              *ngIf="
                formAddUser.controls['name'].invalid &&
                (formAddUser.controls['name'].dirty ||
                  formAddUser.controls['name'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formAddUser.controls['name'].errors.required"
                class="text-danger"
              >
                First Name is required.
              </mat-error>
              <mat-error *ngIf="formAddUser.controls['name'].errors.pattern">
                Please enter a valid Name
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your mobile number"
              formControlName="mobile"
              maxlength="10"
            />
            <mat-error
              *ngIf="
                formAddUser.controls['mobile'].invalid &&
                (formAddUser.controls['mobile'].dirty ||
                  formAddUser.controls['mobile'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formAddUser.controls['mobile'].errors.required"
                class="text-danger"
              >
                First Name is required.
              </mat-error>
              <mat-error *ngIf="formAddUser.controls['mobile'].errors.pattern">
                Please enter a valid Mobile number
              </mat-error>
              <mat-error
                *ngIf="formAddUser.controls['mobile'].errors.minLength"
              >
                Please enter your 10 digit mobile
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                formAddUser.controls['email'].invalid &&
                (formAddUser.controls['email'].dirty ||
                  formAddUser.controls['email'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formAddUser.controls['email'].errors.required"
                class="text-danger"
              >
                Email is required.
              </mat-error>
              <mat-error *ngIf="formAddUser.controls['email'].errors.pattern">
                Please enter a valid email
              </mat-error>
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            (click)="AddNew('Success')"
            class="signin"
            [disabled]="!formAddUser.valid"
            color="primary"
          >
            Add New
          </button>
        </form>
      </mat-card-content>
    </mat-card>
    <!-- Update Section -->
    <mat-card *ngIf="!show">
      <mat-card-title color="primary">Update User</mat-card-title>
      <img mat-card-image />
      <mat-card-content>
        <form [formGroup]="formAddUser" action="#" class="example-form">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your name"
              formControlName="name"
              [(ngModel)]="subone.name"
            />
            <mat-error
              *ngIf="
                formAddUser.controls['name'].invalid &&
                (formAddUser.controls['name'].dirty ||
                  formAddUser.controls['name'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formAddUser.controls['name'].errors.required"
                class="text-danger"
              >
                First Name is required.
              </mat-error>
              <mat-error *ngIf="formAddUser.controls['name'].errors.pattern">
                Please enter a valid Name
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your mobile number"
              formControlName="mobile"
              [(ngModel)]="subone.mobile"
              maxlength="10"
            />
            <mat-error
              *ngIf="
                formAddUser.controls['mobile'].invalid &&
                (formAddUser.controls['mobile'].dirty ||
                  formAddUser.controls['mobile'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formAddUser.controls['mobile'].errors.required"
                class="text-danger"
              >
                First Name is required.
              </mat-error>
              <mat-error *ngIf="formAddUser.controls['mobile'].errors.pattern">
                Please enter a valid Mobile number
              </mat-error>
              <mat-error
                *ngIf="formAddUser.controls['mobile'].errors.minLength"
              >
                Please enter your 10 digit mobile
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
              [(ngModel)]="subone.email"
            />
            <mat-error
              *ngIf="
                formAddUser.controls['email'].invalid &&
                (formAddUser.controls['email'].dirty ||
                  formAddUser.controls['email'].touched)
              "
              class="text-danger"
            >
              <mat-error
                *ngIf="formAddUser.controls['email'].errors.required"
                class="text-danger"
              >
                Email is required.
              </mat-error>
              <mat-error *ngIf="formAddUser.controls['email'].errors.pattern">
                Please enter a valid email
              </mat-error>
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            (click)="Update(subone._id)"
            class="signin"
            [disabled]="!formAddUser.valid"
            color="primary"
          >
            Update
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="two">
    <mat-form-field style="width: 30%;">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="details" matSort>
        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let details">{{ details.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
          <td mat-cell *matCellDef="let details">{{ details.mobile }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let details">{{ details.email }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let details">
            <button (click)="Edit(details._id)" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="Delete(details._id)" mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
